<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--添加命名空间-->
<head>
    <meta charset="UTF-8">
    <title>dubbo-zookeeper</title>
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> 更改为本地样式-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!-- / 默认添加工程名-->

</head>
<body>
hellow
</body>
</html>